Repository MatanelGordon/matanel-react-component-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

Added content to README
  README.md
Due: eslint --fix

Added newline
  postcss.config.js
Due: eslint --fix, prettier -w

added stylelint plugin for webpack
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier -w

synced plugin configuration with storybook
  .storybook/main.js
Due: eslint --fix, prettier -w

Added content to readme stylelint config
  README.md
Due: eslint --fix

removed prod tsconfig
  tsconfig.json
  tsconfig.prod.json
Due: eslint --fix, prettier -w

improved webpack config
  webpack.config.js
Due: eslint --fix, prettier -w

Added mode
  src/index.test.tsx
Due: eslint --fix, prettier -w

removed globals
  vite.config.ts
Due: eslint --fix, prettier -w

Migrated to sb7
  .babelrc.json
  .storybook/main.js
  .storybook/main.ts
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier -w

renamed vite to vitest
  vitest.config.ts
Due: eslint --fix, prettier -w

added eslint plugin
  webpack.config.js
Due: eslint --fix, prettier -w

updated webpack version
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

updated versions
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

improved buttons styles
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier -w

Removed Eslint plugin
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier -w

Added type checking pre-push
  .husky/pre-push
Due: none

update stylelint version
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

Removed prettier stylelint config
  package-lock.json
  package.json
  stylelint.config.js
Due: eslint --fix, prettier -w

Updated stylelint versions
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

Linted Button scss file
  src/components/Button/Button.module.scss
Due: none

moved dep to devDependencies
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

changed max line length
  .editorconfig
Due: none

removed jest
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

Updated testing library
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

renamed name under package json
  package.json
Due: eslint --fix, prettier -w

updated readme
  README.md
Due: eslint --fix

fixed readme spaces
  README.md
Due: eslint --fix

Fixed for advanced webpack configurations
  .lintstagedrc
  .storybook/main.ts
  .storybook/tsconfig.json
  src/components/Button/Button.stories.tsx
  tsconfig.json
Due: eslint --fix, prettier -w

Removed package-lock since it contains ARM related packages
  package-lock.json
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,md,html,css,json}
  prettier -w: any of: *.{js,jsx,ts,tsx,html,css,json}
